@use "global" as *;

.c-section-title {
}

.c-section-title__en {
  font-size: rem(110);
  font-family: $lato-italic;
  font-weight: 900;
  color: #242424;
  font-style: italic;
  display: block;
}

.c-section-title__ja {
  color: #242424;
  display: block;
  font-size: rem(30);
  font-weight: 900;
}
.c-section-title__ja--small {
  font-size: rem(20);
}
  