@use "global" as *;

.p-do {
  padding-top: rem(210);
  padding-bottom: rem(210);
  position: relative;
  overflow-x: clip;
  z-index: 1;
}
.p-do::before {
  position: absolute;
  content: "";
  background: url(../images/common/do_top_left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(1506);
  height: auto;
  top: rem(-48);
  left: rem(-1400);
  aspect-ratio: 1506 / 470;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.p-do__content {
  position: relative;
}
.p-do__content::before {
  position: absolute;
  content: "";
  background: url(../images/common/do_content_right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(1137);
  height: auto;
  aspect-ratio: 1137 / 770;
  object-fit: cover;
  top: rem(-240);
  right: rem(-600);
  z-index: -1;
}

.p-do__text-wrapper {
  text-align: center;
  position: relative;
}

.p-do__text {
  font-weight: 700;
  font-size: rem(26);
  line-height: calc(90 / 26);
  color: #242424;
}
.p-do__img {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  margin-top: rem(-200);
}

.p-do__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}