@use "global" as *;

.p-entry {
  position: relative;
  padding-top: rem(48);
  padding-bottom: rem(48);
  @include mq(md) {
    padding-top: rem(300);
    padding-bottom: rem(200);
  }
}
.p-entry::before {
  position: absolute;
  content: "";
  background: url(../images/common/entry_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1920 / 1510;
  object-fit: cover;
  width: 100%;
  height: auto;
  top: rem(120);
  left: 0;
  z-index: -10;
}

.p-entry__content {
}

.p-entry__title {
  text-align: center;
}

.p-entry__from {
  position: relative;
  font-weight: 700;
  color: #ed4e94;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: rem(32);
  font-size: rem(18);
  @include mq(md) {
    margin-top: rem(60);
    font-size: rem(30);
  }
}
.p-entry__from::before {
  position: absolute;
  content: "";
  background: url(../images/common/entry_from_line.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  aspect-ratio: 500 / 74;
  object-fit: cover;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: rem(280);
  @include mq(md) {
    width: rem(500);
  }
}

.p-entry__dl {
  max-width: rem(1000);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(50);
  }
}

.p-entry__row {
  border-top: 1px dotted #cccccc;
  padding-top: rem(16);
  padding-bottom: rem(16);
  @include mq(md) {
    display: flex;
    padding-top: rem(30);
    padding-bottom: rem(30);
  }
}
.p-entry__row:last-child {
  border-bottom: 1px dotted #cccccc;
}
.p-entry__dt {
  font-size: rem(14);
  font-weight: 700;
  color: #242424;
  @include mq(md) {
    width: rem(250);
    padding-left: rem(20);
    font-size: rem(20);
  }
}

.p-entry__dd {
  margin-top: rem(8);
  @include mq(md) {
    margin-top: initial;
    width: calc(100% - rem(250));
    padding-left: rem(30);
  }
}

.p-entry__dd-text {
  color: #242424;
  letter-spacing: 0.05em;
  line-height: calc(34 / 20);
  font-weight: 400;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-entry__dd-small {
  color: #242424;
  letter-spacing: 0.05em;
  line-height: calc(34 / 16);
  margin-top: rem(8);
  font-size: rem(12);
  @include mq(md) {
    margin-top: rem(10);
    font-size: rem(16);
  }
}

.p-entry__dd-link {
  margin-top: rem(8);
  display: flex;
  align-items: center;
  gap: rem(10);
}

.p-entry__dd-icon {
  width: rem(12);
  @include mq(md) {
    width: rem(20);
  }
}
.p-entry__dd-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-entry__dd-map {
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #242424;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-entry__dd-bold {
  font-weight: 700;
  color: #242424;
  letter-spacing: 0.05em;
  line-height: calc(34 / 20);
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-entry__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-entry__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(20);
  background: #f361a1;
  border-radius: 9999px;
  width: rem(280);
  height: rem(60);
  @include mq(md) {
    width: rem(342);
    height: rem(72);
  }
}

.p-entry__btn-text {
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(22);
  }
}

.p-entry__arrow {
  width: rem(15);
}
.p-entry__arrow img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
