@use "global" as *;

.p-mv {
  position: relative;
  z-index: 2;
}

.p-mv__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 1220 / 1080;

  @include mq(md) {
    aspect-ratio: 1920 / 1080;
  }
}
