@use "global" as *;

.p-page-mv {
  position: relative;
  overflow-x: clip;
  padding-top: rem(160);
  @include mq(md) {
    padding-top: rem(221);
  }
}
.p-page-mv--intern::before {
  position: absolute;
  content: "";
  background: url(../images/common/mv_bg_intern.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: auto;
  left: 0;
  aspect-ratio: 1000 / 1299;
  z-index: -1;
  top: rem(64);
  @include mq(md) {
    top: 0;
    aspect-ratio: 1920 / 1299;
  }
}
.p-page-mv--culture::before {
  position: absolute;
  content: "";
  background: url(../images/common/mv_bg_culture.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
  aspect-ratio: 900 / 2227;

  @include mq(md) {
    aspect-ratio: 1920 / 2227;
  }
}
.p-page-mv--career::before {
  position: absolute;
  content: "";
  background: url(../images/common/mv_bg_career.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1920 / 2398;
  object-fit: cover;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}
.p-page-mv--infographics::before {
  position: absolute;
  content: "";
  background: url(../images/common/mv_bg_infographics.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1920 / 910;
  object-fit: cover;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}

.p-page-mv__content {
}

.p-page-mv__detail {
}

.p-page-mv__title {
}

.p-page-mv__title-en {
  font-family: $lato-italic;
  display: block;
  font-weight: 900;
  font-style: italic;
  color: #242424;
  font-size: rem(48);
  @include mq(md) {
    font-size: rem(160);
  }
}

.p-page-mv__title-ja {
  color: #242424;
  display: block;
  font-weight: 900;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(50);
  }
}

.p-page-mv__img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: initial;
    max-width: rem(744);
    margin-top: rem(122);
  }
}
.p-page-mv__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-page-mv__text-wrapper {
  text-align: center;
  margin-top: rem(56);
  position: relative;
  z-index: 1;
  @include mq(md) {
    margin-top: rem(90);
  }
}

.p-page-mv__text {
  color: #242424;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: rem(14);
  line-height: 2.5;
  @include mq(md) {
    line-height: calc(90 / 26);
    font-size: rem(26);
  }
}
