@use "global" as *;

.p-pass {
  padding-top: rem(160);
  padding-bottom: rem(325);
  position: relative;
  z-index: 1;
}

.p-pass__content {
  max-width: rem(760);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-pass__title {
  text-align: center;
}

.p-pass__qa {
  margin-top: rem(248);
}
