@use "global" as *;

.p-top-people {
  padding-top: rem(640);
  position: relative;
  margin-top: rem(-320);
}
.p-top-people::before {
  position: absolute;
  content: "";
  background: url(../images/common/people_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1920 / 1670;
  object-fit: cover;
  width: 100%;
  height: auto;
  z-index: -1;
  top: 0;
  left: 0;
}
.p-top-people--interview::before {
  display: none;
}

.p-top-people__content {
}
.p-top-people__main {
}

.p-top-people__top-title {
  max-width: rem(396);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.p-top-people__top-title img,
.p-top-people__title img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-top-people__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(50);
}

.p-top-people__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 9999px;
  background: #00902f;
  width: rem(240);
  height: rem(50);
  padding-left: rem(50);
  padding-right: rem(30);
}

.p-top-people__btn-text {
  color: #fff;
  font-weight: 700;
  font-size: rem(16);
}

.p-top-people__btn-icon {
  width: rem(15);
}
.p-top-people__btn-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-top-people__swiper {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  margin-top: rem(-560);
}
.p-top-people__swiper--interview {
  margin-top: rem(-440);
}
.p-top-people__item {
  position: relative;
  padding-left: rem(100);
  padding-right: rem(100);
}
.p-top-people__img {
}
.p-top-people__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-top-people__detail {
  margin-top: rem(-80);
}
.p-top-people__detail--429 {
  margin-top: rem(-200);
}
.p-top-people__detail--right {
  position: absolute;
  bottom: 0;
  right: rem(40);
  margin-top: initial;
}

.p-top-people__title {
  font-weight: 900;
  font-size: rem(40);
  line-height: 1.5;
  color: #242424;
}

.p-top-people__en {
  margin-top: rem(30);
  font-family: $lato-italic;
  font-size: rem(30);
  font-weight: 700;
  text-transform: uppercase;
}

.p-top-people__occupation {
  margin-top: rem(4);
  color: #00a040;
  font-size: rem(14);
  font-weight: 700;
}
/* .w509 {
  max-width: rem(509);
  width: 100%;
}
.w628 {
  max-width: rem(628);
  width: 100%;
}
.w462 {
  max-width: rem(462);
  width: 100%;
}
.w532 {
  max-width: rem(532);
  width: 100%;
}
.w470 {
  max-width: rem(470);
  width: 100%;
}
.w429 {
  max-width: rem(429);
  width: 100%;
} */
